.all-books {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
}

    .all-book-information {
        padding: 10px;
    }

        .all-books {

        }

            .all-books-book-info {

            }

                .all-book-covers {
                    width: 210px;
                    max-width: 100%;
                    height: auto;
                    min-width: 70px;
                }

                .all-book-covers:hover {
                    width: 300px;
                    max-width: 100%;
                    height: auto;
                    min-width: 70px;
                    cursor: grab;

                }
                .show-book-information-title,
                .show-book-information-author {
                    max-width: 220px;
                }
    

