.title-field {
    display: flex;
    align-items: center;
    margin: 4px 0px;
    margin-right: 4px;
}
.title-field input{
    width: 130px;
}

.rating-field {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.body-field {
    margin: 0px;
    width: 260px;
    height: 105px;
    min-width: 260px;
    min-height: 100px;
}

.body-field textarea {
    min-width: 340px;
    min-height: 100px;
    margin: 4px;
}

.date-reviewed-field {
    display: flex;
    align-items: center;
    margin-right: 4px;
    margin: 7px 0px;
}

label div {
    margin-right: 4px;
}

.review-up {
    border: 2px solid beige;
    padding: 5px;
    width: 400px;
}