.index-book-filter-bar {
        display: inline-flex;
        justify-content: flex-end;
        width: 90%;
        margin: 10px;
    }

    .index-book-filter-bar-text {
        width: 200px;
        height: 25px;
        background-color: #f2f2f2;
        margin-left: 50%;
        margin-top: 10px;
        text-align: center;
    }
