.index-shelves-main{

}
    .index-shelves-main-inner{
        display: flex;
    }
        .index-shelves-main-navbar{
            display: flex;
            justify-content: space-between;
            margin: 10px 50px;
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #EBE8D5;
            color: #BBB596;
            /* width: 100%; */
    }


            .index-shelves-main-navbar-mybooks{
                font-weight: bold;
                font-size: 20px;
                color: #00635d;
                text-decoration: none;
            }
        
        .index-shelves-main-content{
            display: flex;
            justify-content: space-between;
        }

        .index-shelves-main-sidebar{
            display: inline-block;
            height: 100%;
            width: 70px;
            padding-right: 20px;
        }

                .index-shelves-main-sidebar-list-shelves{

                }
                
                .index-shelves-main-sidebar-add-shelf-button{
                    font-size: 8px;
                }
            
            .index-shelves-main-shelves{
                display: flex;
            }

            .index-shelves-main-shelves-nav-bar {
                display: flex;
            }

            .index-shelves-books{

            }