.index-shelves-main{
    /* overflow: auto;w */
    min-height: 1000px;
    min-width: 600px;
    overflow: hidden;
    margin-left: 10px;
}
    .index-shelves-main-inner{
        display: flex;
        /* justify-content: center; */
    }
        .index-shelves-main-navbar{
            display: flex;
            justify-content: space-between;
            margin: 10px 50px;
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #EBE8D5;
            color: #BBB596;
            width: 100%;
            
    }
        .index-shelves-search {
            padding-right: 23%;
        }


            .index-shelves-main-navbar-myshelves{
                font-weight: bold;
                font-size: 20px;
                color: #00635d;
                text-decoration: none;
                cursor: default;
                left: 10px;
            }
        
        .index-shelves-main-content{
            display: flex;
            /* justify-content: space-between; */
        }

        .index-shelves-main-sidebar{
            display: inline-block;
            height: 100%;
            width: 100px;
            padding-right: 20px;
            text-decoration: none;
            margin-left: 46px;
        }

                .index-shelves-main-sidebar-list-shelves{

                }
                
                .index-shelves-main-sidebar-add-shelf-button{
                    /* padding-top: 4px; */
                    font-size: 12px;
                    margin: 0px 10%;
                }
            
            .index-shelves-main-shelves{
                display: block;
                justify-content: space-between;
                margin: 0px 10%;
                /* min-height: 300px; */
            }

            .index-shelves-main-shelves-nav-bar {
                display: grid;
                grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
                grid-gap: 10px;
                padding: 10px;
                font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
                font-size: 14px;
                align-items: center;
            }

            .index-shelves-books {

            }

            .index-shelf-titles {
                display: flex;
                font-weight: bold;
                font-size: 14px;
                font-style: oblique;
                border-top: solid 1px rosybrown;
                border-bottom:solid 1px rosybrown;
                padding-top: 1px;
                justify-content: space-between;
                align-items: center;
                margin-right: 27px;
            }

            .index-shelves-cover {
                /* padding-left: 0px; */
            }

            .index-shelves-title {
                /* padding-left: 15px; */
            }

            .index-shelves-author {
               /* padding-left: 80px; */
                
            }

            .index-shelves-avg-rating {

            }

            .index-shelves-my-rating {

            }

            .index-shelves-date-added {

            }

            .index-shelves-date-read {
                padding-left: 4px;
            }

            .index-shelves-cover {
                padding-left: 20px;
            }
            .index-shelf-book-cover {
                max-width: 100px;
                /* padding-left: 80px; */
            }
            .index-shelf-book-indiv-info{
                /* display: flex; */
                display: grid;
                grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
                grid-gap: 13px;
                padding-top: 2px;
                font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
                font-size: 14px;
                align-items: center;
            }

            .index-shelf-book-avg-rating,
            .index-shelf-book-user-rating {
                margin-left: 18px;
            }


            .index-shelf-book-cover {
                object-fit: contain;
                height: 80px;
                width: auto;
            }

            .index-shelf-book-author {
                /* margin-left: 20px; */
            }

            .index-shelf-book-title {
                text-decoration: none;
                color: black;
            }

