.index-shelves-main{

}
    .index-shelves-main-inner{
        display: flex;
    }
        .index-shelves-main-navbar{
            display: flex;
            justify-content: space-between;
            margin: 10px 50px;
            margin-bottom: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid #EBE8D5;
            color: #BBB596;
            /* width: 100%; */
    }


            .index-shelves-main-navbar-mybooks{
                font-weight: bold;
                font-size: 20px;
                color: #00635d;
                text-decoration: none;
                cursor: default;
            }
        
        .index-shelves-main-content{
            display: flex;
            /* justify-content: space-between; */
        }

        .index-shelves-main-sidebar{
            display: inline-block;
            height: 100%;
            width: 100px;
            padding-right: 20px;
            text-decoration: none;
        }

                .index-shelves-main-sidebar-list-shelves{

                }
                
                .index-shelves-main-sidebar-add-shelf-button{
                    /* padding-top: 4px; */
                    font-size: 12px;
                     
                }
            
            .index-shelves-main-shelves{
                display: block;
                justify-content: space-between;
            }

            .index-shelves-main-shelves-nav-bar {
                display: flex;
            }

            .index-shelves-books {

            }

            .index-shelf-titles {
                font-weight: bold;
                font-size: 14px;
                font-style: oblique;
            }

            .index-shelves-cover {
                padding-left: 0px;
            }

            .index-shelves-title {
                padding-left: 40px;
            }

            .index-shelves-author {
                padding-left: 10px;
            }

            .index-shelves-avg-rating {

            }

            .index-shelves-my-rating {

            }

            .index-shelves-date-added {

            }

            .index-shelves-date-read {
                padding-left: 4px;
            }

            /* .index-book-cover {
                height: 50px;
            } */