.show-book {
    display: flex;
    align-content: center;
    padding: 20px;
    background-color: #deb887;
}

    .show-book-all-information {
        display: flex;
        padding: 5px;
    }

        .show-book-cover-image {
            display: flex;
        }
            .show-book-cover {
                display: flex;
                height: 300px;
                width: auto;
                padding-right: 5px;
            }

        .show-book-information-title,
        .show-book-information-author,
        .show-book-information-genre, 
        .show-book-information-rating, 
        .show-book-information-description {
            display: block;
            padding-bottom: 4px;
        }

        .show-book-information-title {
            font-weight: bold;
        }

        .show-book-information-author {
            /* color: #333; */
            font-size: 16px;
            font-family: "Merriweather", "Georgia", serif;
        }
        .show-book-information-rating {
            font-size: 16px;
            font-family: "Merriweather", "Georgia", serif;
        }

        .show-book-information-genre {
            font-size: 16px;
            font-family: "Merriweather", "Georgia", serif;
        }
        .show-book-information-description {
            font-family: "Merriweather", "Georgia", serif;
            line-height: 21px;
        }

