.show-book {
    display: block;
    align-content: center;
    padding: 20px;
    padding-left: 14%;
    /* background-color: #deb887; */
    width: 70%;
}

    .show-book-all-information {
        display: flex;
        padding: 5px;
        padding-left: 0px;
    }

        .show-book-cover-image {
            display: flex;
        }
            .show-book-cover {
                display: flex;
                height: 300px;
                width: auto;
                padding-right: 5px;
                margin-right: 6px;
            }

        .show-book-information-title,
        .show-book-information-author,
        .show-book-information-genre, 
        .show-book-information-rating, 
        .show-book-information-description {
            display: block;
            padding-bottom: 4px;
        }

        .show-book-information-title {
            font-weight: bold;
        }

        .show-book-information-author {
            /* color: #333; */
            font-size: 16px;
            font-family: "Merriweather", "Georgia", serif;
        }
        .show-book-information-rating {
            font-size: 16px;
            font-family: "Merriweather", "Georgia", serif;
        }

        .show-book-information-genre {
            font-size: 16px;
            font-family: "Merriweather", "Georgia", serif;
        }
        .show-book-information-description {
            font-family: "Merriweather", "Georgia", serif;
            line-height: 21px;
        }

    .show-book-my-activity {
        display: block;
        margin-top: 10px;
        background: transparent;
        border-bottom: 1px solid #D8D8D8;

    }
        .show-book-my-activity-text {
            width: 100%;
            vertical-align: auto;
        }


    .show-book-individual-review {
        border-top: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
        padding-top: 3px;
        margin: 8px 0px;
        background-color: beige;
    }

    .show-book-all-reviews {
        padding-top: 15px;
    }

    .show-book-activity-rating {
        background: transparent;
        border-bottom: 1px solid #D8D8D8;
        padding-top: 20px;
    }

    .show-book-activity-shelf {
        display: block
    }

        .show-book-all-shelves {
            display: block;
            padding-left: 3px;
            color: brown;
        }   

        .dropdown-content2 {
            /* background-color: brown; */
            color: black;
        }

.show-book-unique-shelves{
    display: flex;
}

.show-book-myactivity{
    display: flex;
}

.show-book-individual-review-id {
    text-transform: capitalize;
}

.show-book-all-reviews-text {
    border-top: 1px solid black;
}